body {
  font-family: "Space Mono", monospace;
}

body.light {
  background-color: #f6f8ff;
  color: #222731;
  transition:
    background-color 0.7s ease-in-out,
    color 0.3s ease-in-out;
}

body.dark {
  background-color: #141d2e;
  color: #222731;
  transition:
    background-color 0.7s ease-in-out,
    color 0.3s ease-in-out;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body.dark h1 {
  color: white;
}

body.dark form {
  background-color: #1e2b48;
  color: white;
}

body.dark input {
  background-color: #1e2b48;
  color: white;
}

.app {
  max-width: 600px;
  margin: 40px auto;
}

button {
  background: #0964c9;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #005fcc;
}

@media (max-width: 600px) {
  .app {
    width: 90%;
  }
}

@media (max-width: 390px) {
  .header_section h1 {
    font-size: 18px;
  }
}
